<div class = 'jumbotron center'>
		<h1>Wellcome to Ngoc's app</h1>
		<p>
		 <%= link_to "Sign up", "http://google.com", class: "btn btn-primary btn-lg" %>
		 <%= link_to "Login", "#", class: "btn btn-primary btn-lg" %>
		 
	</p>
</div>